.bgimage{
	background-image: url('../image/0.jpeg');
	background-position: center center;
	background-size: cover;
	height: 200px;
}

body{
	background-color: rgba(192,192,192,0.5);
}


.month_days{
	background-color: #C2F2D9
}

.current_day{
	background-color: #F2C2D8
}

th{
    background-color: #FFFF66;
 }

td:hover {
    background-color: #5cb85c;
 }

